body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 50px;
}


footer {
    background-color: #333;
    color: #fff;
}

h1, h3, h4 {
    color: #333;
}
.movie-separator {
    border: 0;
    border-top: 2px solid #000;  /* เปลี่ยนสีเส้นตามต้องการ */
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-item {
    width: 250px; /* ความกว้างที่กำหนดให้ทุกบล็อกเท่ากัน */
    height: 400px; /* ความสูงของแต่ละบล็อก */
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.movie-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.movie-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.movie-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
}

.movie-item h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    object-fit: cover;
    height: 200px;  /* กำหนดความสูงของภาพ */
}

.no-picture-placeholder {
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    flex-grow: 1;
}

.pagination .page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.5;
}



